[Unit]
Description=Storjshare service
After=network.target

[Service]
ExecStart=/usr/bin/storjshare daemon
ExecStop=/usr/bin/storjshare killall
ExecReload=/usr/bin/storjshare killall
RestartPreventExitStatus=255
Type=forking
User=<%= @owner %>
Group=<%= @group %>

[Install]
WantedBy=multi-user.target