[Unit]
Description=Storjshare client
After=network.target

[Service]
ExecStart=/usr/bin/storjshare start -c <%= @share_dir %>/.storjshare
ExecStop=/usr/bin/storjshare stop -i `storjshare status --json | tr -d ' \t\n\r\f' |sed -r "s/'/\"/g" |sed -r 's/\{/\{"/g' |sed -r 's/:/\":/g'|sed -r 's/,/,\"/g' |jq -r '.[0].id'`
ExecReload=/usr/bin/storjshare stop -i `storjshare status --json | tr -d ' \t\n\r\f' |sed -r "s/'/\"/g" |sed -r 's/\{/\{"/g' |sed -r 's/:/\":/g'|sed -r 's/,/,\"/g' |jq -r '.[0].id'`
RestartPreventExitStatus=255
Type=simple
User=<%= @owner %>
Group=<%= @group %>

[Install]
WantedBy=multi-user.target